@import '../../../css/variables.scss';
phoenix-body {
    img {
        margin: 10px 0px 90px;
    }
    div {
        a {
            display: inline-flex;
            width: 250px;
            height: 60px;
            margin: 0px 40px;
            border: 5px solid transparentize($themeColor, 0.5);
            text-decoration: none;
            align-items: center;
            justify-content: center;
            color: $textColor;
            background-color: transparentize($themeColor, 0.8);
            
            font-size: 22px;
            &:hover,
            &:focus {
                cursor: pointer;
                text-decoration: none;
                background-color: transparentize($themeColor, 0.5);
                color: $textColor;
            }
        }
    }
}